[submodule "f1tenth_gym"]
	path = f1tenth_gym
	url = git@github.com:s-hliao/f1tenth_gym.git
	branch = dev-humble
[submodule "f1tenth_gym_ros"]
	path = f1tenth_gym_ros
	url = git@github.com:f1tenth/f1tenth_gym_ros.git
	branch = dev-humble
[submodule "f1tenth_system"]
	path = f1tenth_system
	url = https://github.com/f1tenth/f1tenth_system.git
	branch = humble-devel
[submodule "natnet_ros2"]
	path = natnet_ros2
	url = https://github.com/L2S-lab/natnet_ros2.git
