[submodule "f1tenth_gym"]
	path = f1tenth_gym
	url = git@github.com:s-hliao/f1tenth_gym.git
	branch = dev-humble
[submodule "f1tenth_gym_ros"]
	path = f1tenth_gym_ros
	url = git@github.com:f1tenth/f1tenth_gym_ros.git
	branch = dev-humble
